<form class="my-3">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>By User</mat-label>
    <mat-select>
      <ng-container *ngFor="let user of users">
        <mat-option [value]="user.username">{{ user.username }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option value="In-Progress">In-Progress</mat-option>
      <mat-option value="Completed">Completed</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date Range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" />
      <input matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</form>
