<section class="tasks">
  <div class="container mt-4">
    <button mat-raised-button (click)="openDialog('0ms', '0ms')">
      Add Task
    </button>
    <form class="my-3">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>By User*</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status*</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter a deadline*</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </form>
    <app-data-table />
  </div>
</section>
