<div class="dialog">
  <h2 class="mb-3 text-center">{{ "tasks.dialog.head" | translate }}</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>{{ "tasks.dialog.title" | translate }} </mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "tasks.dialog.user" | translate }} </mat-label>
      <mat-select formControlName="userId">
        @for (user of users; track $index) {
        <mat-option [value]="user._id">{{ user.username }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <label for="image">{{ "tasks.dialog.image" | translate }}</label>
    <input
      type="file"
      name=""
      id="image"
      class="form-control mb-3"
      accept="image/*"
      (change)="onFileChange($event)"
    />
    <mat-form-field>
      <mat-label>{{ "tasks.dialog.deadline" | translate }} </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadline" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "tasks.dialog.description" | translate }} </mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div class="d-flex justify-content-center gap-3">
      <button
        (click)="dialogRef.close()"
        mat-button
        type="submit"
        [disabled]="!taskForm.valid"
        [ngClass]="{ disabled: !taskForm.valid }"
      >
        @if(data){ {{ "tasks.dialog.update" | translate }} }@else {
        {{ "tasks.dialog.create" | translate }} }
      </button>
      <button (click)="onClose()" mat-button type="button">
        {{ "tasks.dialog.close" | translate }}
      </button>
    </div>
  </form>
</div>
