<nav class="navbar navbar-expand-lg bg-body-tertiary" id="header">
  <div class="container d-flex align-items-center">
    <span class="navbar-brand brand p-0"
      ><img src="../../../../assets/images/logo.png" alt="" />
      <span>{{ "header.site" | translate }}</span></span
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-lg-end mt-3 mt-lg-0"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav gap-4">
        <a
          class="nav-link"
          aria-current="page"
          routerLinkActive="active"
          routerLink="/dashboard/tasks"
          >{{ "header.all" | translate }}</a
        >
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/dashboard/users"
          >{{ "header.users" | translate }}</a
        >
        <a class="nav-link state" (click)="logout()"
          >{{ "header.out" | translate
          }}<mat-icon
            aria-hidden="false"
            aria-label="Example logout icon"
            fontIcon="logout"
          ></mat-icon
        ></a>
      </div>
    </div>
  </div>
</nav>
