#header {
  & {
    padding: 20px 0px;
    background-color: #1a0f91;
  }
  .brand {
    & {
      font-size: clamp(1.25rem, 1.163rem + 0.4348vi, 1.5rem);
      color: #1a0f91;
      font-weight: 500;
    }
    span {
      position: relative;
      bottom: -10px;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
  a {
    font-size: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .state {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 36px;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
    &:hover {
      color: red;
    }
  }

  .active {
    display: block;
    padding: 10px 15px;
    background-color: #1a0f91;
    color: white;
    border-radius: 10px;
  }
  .language {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: calc(5rem / 16);
  }
}
