#header {
  & {
    padding: 20px 0px;
    background-color: #1a0f91;
  }
  .brand {
    & {
      font-size: 26px;
      color: #1a0f91;
      font-weight: 600;
    }
    span {
      position: relative;
      bottom: -10px;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
  a {
    font-size: clamp(calc(16rem / 16), 3vw, calc(18rem / 16));
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .state {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 36px;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
    &:hover {
      color: red;
    }
  }

  .active {
    display: block;
    padding: 10px 15px;
    background-color: #1a0f91;
    color: white;
    border-radius: 36px;
  }
}
