<main>
  <div class="image">
    <img src="../../../../assets/task.jpg" alt="" />
  </div>

  <div class="right-side">
    <div class="form-container">
      <p>Login</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
          />
          @if (form.get('email').invalid) {
          <mat-error>{{ getEmailError() }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            maxlength="40"
          />
          @if (form.get('password').invalid && form.get('password').touched) {
          <mat-error>{{ getPasswordError() }}</mat-error>
          }
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          class="btn btn-custom"
          type="submit"
          [disabled]="!form.valid"
          [ngClass]="{ unallowed: !form.valid }"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</main>
