<form [formGroup]="userLoginForm" class="d-flex flex-column gap-3">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      (blur)="updateEmailErrorMessage()"
      required
    />
    @if (userLoginForm.get('email').invalid) {
    <mat-error>{{ emailError() }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      formControlName="password"
      (blur)="updatePasswordErrorMessage()"
      [type]="hide() ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide.set(!this.hide)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (userLoginForm.get('password').invalid) {
    <mat-error>{{ passwordError() }}</mat-error>
    }
  </mat-form-field>
  <button>Login</button>
</form>
<p>Create new account ? <a>Sign-Up</a></p>
