@media (max-width: 768px) {
  .mat-elevation-z8 {
    overflow-x: scroll;
  }
  table,
  mat-paginator {
    min-width: 720px;
  }
}
.head {
  background-color: #1a0f91;
  color: white;
}
table {
  img {
    width: calc(80rem / 16);
    height: calc(80rem / 16);
    padding: calc(10rem / 16) 0;
  }
}
